@use "../../global" as g;

/*!
page > contact > contact
------------------------------
*/
.p-contact__note {
    margin-top: 8px;
}

.p-contact__form {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.p-contact__item {
    display: grid;
    grid-template-columns: 1fr;
    gap: 8px;

    @include g.mq() {
        grid-template-columns: 200px 1fr;
    }

    &--button {
        @include g.mq() {
            grid-template-columns: 1fr;
        }
    }
}

.p-contact__item-label {
    font-weight: bold;
}

.p-contact__item-body {
    // Wrapper for form inputs
}

.p-contact__item-text {
    .c-input-text {
        height: 45px;

        @include g.mq() {
            height: 48px;
        }
    }
}

.p-contact__item-textarea {
    .c-textarea {
        height: 200px;
    }
}

.p-contact__button {
    display: flex;
    justify-content: center;
}
