@use "../global" as g;

/*!
layout > footer
------------------------------
*/
.l-footer {
  padding: 40px 0 16px;
  background-color: var(--color-bg-primary-light);
}

.l-footer__inner {
  @include g.mq() {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.l-footer__logo {
  max-width: 320px;
}

.l-footer__site-description {
  font-size: 12px;
  margin-top: 16px;
}

.l-footer__site-description-line {
  display: block;
}

.l-footer__sns {
  margin-top: 16px;
}

.l-footer__nav {
  margin-top: 32px;

  @include g.mq() {
    margin-top: 0;
  }
}

.l-footer__nav-list {
  display: flex;
  flex-wrap: wrap;
}

.l-footer__nav-item {
  font-size: 12px;

  &:not(:first-child) {
    &::before {
      content: "/";
      display: inline-block;
      padding: 0 5px;
    }
  }
}

.l-footer__copyright {
  display: block;
  margin-top: 32px;
  border-top: 1px solid var(--color-border-gray);
  font-size: 12px;
  padding-top: 16px;
  text-align: center;
}
