@use "breakpoints" as bp;

/*!
global > base
------------------------------
*/
:root {
  --font-family-base: "Noto Sans JP", sans-serif;
}

body {
  line-height: 1.75;
  font-size: 14px;
  color: var(--color-font-base);
  font-family: var(--font-family-base);

  @include bp.mq() {
    font-size: 16px;
  }
}
